<div class="jumbotron">
  <h1 class="display-4"><%= @connection.first_name %> <%= @connection.last_name %></h1>
  <p class="lead">
    <%= @connection.email %> |
    <%= @connection.phone %> |
    <%= @connection.twitter %>
  </p>

  <br />

  <p class="lead">
    <%= link_to 'Edit', edit_connection_path(@connection), class: "btn btn-secondary" %>
    <%= link_to 'Back', connections_path, class: "btn btn-dark" %>
  </p>
</div>

